#header_row
{
    height:3vh;
    padding-top:0.5%;
    padding-left:2%;
    padding-right:2%;
    background-color: white;
}

#body_row
{
    height:90vh;
    padding-left:1%;
    padding-top:1%;
}

svg
{
    width: 20px;
    height:20px;
    padding-right:5px;
}