<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adaptive Quiz</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='header_template.css')}}" rel="stylesheet">
        {% block css_script_1 %}{% endblock %}
        {% block css_script_2 %}{% endblock %}
        {% block css_script_3 %}{% endblock %}
        {% block css_script_4 %}{% endblock %}
        {% block css_script_5 %}{% endblock %}
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-3.6.3.min.js')}}"></script>
        <script src="{{url_for('static', filename='header_template.js')}}"></script>
        {% block js_script_1 %}{% endblock %}
        {% block js_script_2 %}{% endblock %}
        {% block js_script_3 %}{% endblock %}
        {% block js_script_4 %}{% endblock %}
        {% block js_script_5 %}{% endblock %}
        {% include "svg_icon.html" %}
    </head>
    {% if session_start == true %}
        <div class="row sticky-top" id="header_row">
            <div class="col text-start">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-start">
                      <li class="breadcrumb-item"><a href="#"><svg><use xlink:href="#house"/></svg></a></li>
                      <li class="breadcrumb-item"><a href="#">Task</a></li>
                      <li class="breadcrumb-item active" aria-current="page"><a class="active" href="/">Adaptive Quiz</a></li>
                    </ol>
                  </nav>
            </div>
            <div class="col text-end">
                <a class="btn btn-danger btn-sm" href="/logout"><svg fill="currentColor"><use xlink:href="#box-arrow-right"/></svg>Sign out</a>
            </div>
          <hr/>
        </div>
        <div class="row" id="body_row">
            <div class="modal" id="loading" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Loading</h5>
                        </button>
                      </div>
                    <div class="modal-body text-center">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <body>
                <div id="body_app">
                    {% block body_app %}{% endblock %}
                </div>
            </body>
        </div>
    {% else %}
    <h1 style="padding:1%;">
        <b>Adaptive Quiz: Introduction to Project Management Course</b>
    </h1>
    <form id="login-form">
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col">
                <h1 class="text-center" style="padding:1%">
                    LOGIN
                </h1>
            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col text-center">
                <div id="logo_place">

                </div>
            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col">
                &nbsp;
            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col">
                &nbsp;
            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>
        <div class="row justify-content-center">
            <table class="table table-borderless table-responsive" style="width:20%;" id="responsive_table">
            <td>
                <div class="col">
                    <div id="normal_form">
                        <div class="row mb-3">
                            <div class="col">
                                <div style="padding:0.5%;"><b>Username or Email</b></div>
                                <input type="text" class="form-control" placeholder="Enter your username/email" id="login_user_id">
                                <div style="padding:0.5%;"></div>
                                <div style="padding:0.5%;"><b>Password</b></div>
                                <input type="password" class="form-control" placeholder="Password" id="login_user_pw">
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col" id="login_alert_point">
        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-start">
                                    <input class="form-check-input" type="checkbox" value="" id="rememberme">
                                    <label class="form-check-label" for="rememberme">
                                      Remember Me
                                    </label>
                            </div>
                            <div class="col text-end">
                                <a href="#" id="reset_pw_btn" class="nav-link">Forgot Password</a>
                            </div>
                        </div>
                        <div style="padding:1%">
                        </div>
                        <div class="row text-center">
                            <button type="submit" id="login_btn" class="btn btn-dark">Sign in</button>
                        </div>
                    </div>
                    <div class="d-none" id="forgot_form">
                        <div class="row mb-3">
                            <div class="col">
                                <div style="padding:0.5%;"><b>Username or Email</b></div>
                                <input type="text" class="form-control" placeholder="Enter your username/email" reset_type="credential" id="reset_user_id">
                                <div style="padding:0.5%;"><b>Name</b></div>
                                <input type="text" class="form-control" placeholder="Enter your name" reset_type="credential" id="reset_user_name">
                                <div style="padding:0.5%;"><b>New Password</b></div>
                                <input type="password" class="form-control" placeholder="Password" reset_type="credential" id="reset_user_pw_1">
                                <div style="padding:0.5%;"><b>Confirm New Password</b></div>
                                <input type="password" class="form-control" placeholder="Confirm Password" reset_type="credential" id="reset_user_pw_2">
                            </div>
                        </div>
                        <div class="row" id="reset_alert_point">
                    
                        </div>
                        <div style="padding:1%">
                        </div>
                        <div class="row">
                            <div class="col text-start">
                                <button class="btn btn-dark" id="back_login_btn">Back</button>
                            </div>
                            <div class="col text-end">
                                <button class="btn btn-primary" id="submit_pw_btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            </table>
            
        </div>

    </form>
    {% endif %}
</html>

